extends layout

block content
  h1= title
  p Welcome to #{title}

  ol
    li The inconsistently behaving page:
      a(href="http://onty-simple2.us-east-1.elasticbeanstalk.com/users/") the Users page
    li Users page:
      a(href="http://onty-simple2.us-east-1.elasticbeanstalk.com/inconsistent") simple js app 2 with the inconsistent page
